/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
/* font style */
.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* increasing mary */
  .nav-title{
   font-weight:800px;
   font-size:45px ;
  }
/* color r */
  .nav-color{
    color: #FD6E0A;
  }
  /* remove nav ul dot */
  nav ul li{
   list-style: none;
   margin: 51px;
  }
  /* remove nav underline */
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  /* font color */
  .dark-2{
    color: #474747;
  }
  /* move nav side */
  nav ul{
    display: flex;
    align-items: center;
  }
  /* design button */
  .btn-primay{
background-color: #FD6E0A;
font-weight: bold;
font-size: 20px;
color: white;
padding: 18px 35px;
border-radius: 5px;
border: none;
  }
  /* design greetings font */
  .banner-greet{
font-size: 45px;
font-weight: 600;
  }
  /* design banner title */
  .banner-title{
    font-weight: bold;
    font-size: 85px;
  }
  /* design banner description */
  .banner-description{
    font-size: 18px;
  }
  /* design banner profile pic */
  .banner-proile-pic{
    width:580px;
    height: 676;
  }
  /* move the profile pic side */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 238px;
  }
  /* banner content width */
.banner-content{
  max-width: 585px;
}
/* background devloper pic & background image set */
.back-dv-img{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* section title design */
.section-title{
   font-size: 35px;
   font-weight: bold;
   color: #181818;
}
/* design section description */
.section-description{
    font-size: 18px;
    color:#757575;
}
/* for background color */
.secondar-bg{
  background-color: #FFF8F3;
}
/* about styles */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0px auto;
    
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* design item description */
.item-description{
  font-weight: 600;
}
/* remove about item side */
.about-items{
  display: flex;
    justify-content: space-around;
}
.text-center{
  text-align: center;
}
/* design what i do and skills section */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
/* resume design */
.resume-container{
  display: flex;
  gap: 24px;
}
.experience-description , .experience-subtitle{
  color: #757575;
  font-size: 16px;

}
.experience-subtitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
}
.resume hr{
  margin: 30px 5px;
}
.resume-download-btn{
  margin-top: 50px;
}
/* design footer */
footer{
  padding: 130px 230px;
  display: flex;
}
.footer-coloumn{
  width: 50%;
}
footer input[type="text"], footer textarea{
width: 100%;
height: 64px;
border-radius: 5px;
background-color: #FFFFFF;
display: block;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
color: #757575;
}
.section-title{
  color: #181818;
  margin-bottom: 28px;
}
